
#morecsspure-trigger-toggle {
    cursor: pointer;
}

#morecsspure-element-toggle {
    display: none;
}

    #morecsspure-element-toggle:not(:checked) ~ #morecsspure-toggled-element {
        display: none;
    }

    #morecsspure-element-toggle:not(:checked) ~ #morecsspure-trigger-toggle .morecsspure-lesslink {
        display: none;
    }

    #morecsspure-element-toggle:checked ~ #morecsspure-abstract {
        display: none;
    }

    #morecsspure-element-toggle:checked ~ #morecsspure-trigger-toggle .morecsspure-morelink {
        display: none;
    }

#morecsspure .morecsspure-morelink, #morecsspure .morecsspure-lesslink {
    display: block;
    cursor: pointer;
    color: black;
}

    #morecsspure .morecsspure-morelink:hover, #morecsspure .morecsspure-lesslink:hover {
        text-decoration: underline;
    }


