@model WebCujae.Models.CKEditors
@{
    ViewBag.Title = "AdminEvento";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section bodyAdmin{
    <section class="content-header">
        <h1>
            Eventos
            <small>gestione sus eventos</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Agregar Evento</h3>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <p>@ViewBag.Notice</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <h4><i class="fa fa-file-image-o"></i> Subir imagen</h4>
                                </div>
                                @using (Html.BeginForm("File", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div class="form-group">
                                        <input id="imageUploadFile" class="form-control" type="file" name="file" required style="padding-bottom:50px" />
                                        <button class="btn btn-default" style="margin-top:2%" type="submit">Subir archivo</button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="box-body pad">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <div class="row">
                                                        <h4><i class="fa fa-pencil"></i> Inserte la descripción del evento</h4>
                                                    </div>
                                                    <div class="row">
                                                        @Html.TextAreaFor(model => model.noticias, new { @class = "textarea", @required = true, @placeholder = "Description text", @style = "width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                                                    </div>
                                                    <div class="row">
                                                        <h4><i class="fa fa-pencil"></i> Inserte el evento completo</h4>
                                                    </div>
                                                    <div class="row">
                                                        @Html.TextAreaFor(model => model.data, new { @class = "textarea", @required = true, @placeholder = "Full text", @style = "width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" value="Guardar" class="btn btn-default" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        </div>
    </section>

    <script src="/Content/Admin/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/Content/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/Content/Admin/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/Admin//dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Content/Admin/dist/js/demo.js"></script>
    <!-- CK Editor -->
    <script src="/Content/Admin/bower_components/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="/Content/Admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="~/Content/js/validators.js"></script>
    <script>
                    $(function () {
                        // Replace the <textarea id="editor1"> with a CKEditor
                        // instance, using default configuration.
                        CKEDITOR.replace('editor1')
                        //bootstrap WYSIHTML5 - text editor
                        $('.textarea').wysihtml5()
                    })
    </script>
}
