
@{
    ViewBag.Title = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section body
    {
<main class="site-content" role="main">
    <!-- Service section -->
    <section id="service" style="margin-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                    <div class="service-item">
                        <img src="~/Content/Home/img/homepageImage_es_ES.jpg" class="resaltar img-thumbnail " />
                        <h3>X Congreso Cubano de Ingeniería Mecánica y Metalúrgica (CCIM 2018)</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service" style="margin-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                    <div class="service-item">
                        <img src="~/Content/Home/img/pageHeaderTitleImage_es_ES.jpg" class="resaltar img-thumbnail " />
                        <h3> XIX Convención Científica de Ingeniería y Arquitectura</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service" style="margin-top:100px;">
        <div class="container"> 
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-item ">
                        <img src="~/Content/Home/img/defect-event.png" class="resaltar img-thumbnail " />
                        <h3>Conferencia Internacional sobre Tecnologías aplicadas a las Redes Eléctricas Inteligentes (CITREI 2018)</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Contact section -->
</main>
    }


